.root {
    -fx-background: rgba(0,0,0,0.65);
}

/* Pane Toggle Buttons */
.toggle-button {
    -fx-background-radius: 5em;
    -fx-min-width: 2em;
    -fx-min-height: 2em;
    -fx-max-width: 2em;
    -fx-max-height: 2em;
    -fx-background-color: #008800;
}

.toggle-button:hover {
    -fx-cursor: hand;
}

/* File path field */
.fileURLField {
    -fx-background-color: rgba(0, 0, 0, 0.65);
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-border-color: rgba(40,191,224,1);
    -fx-border-style: solid;
}

.fileURLField:focused {
    -fx-border-color: rgba(51,215,37,1);
    -fx-border-style: solid;
}

/* Icon view area */
.tile-pane {
    -fx-pref-columns: 100;
    -fx-hgap: 0.5em;
    -fx-vgap: 0.5em;
    -fx-background-color: rgba(3,0,0,.65); // == #444444;
    -fx-background-image: url("./backgrounds/grit.jpg");
    -fx-border-image-repeat: stretch;
    -fx-background-size: cover, auto;
    /*-fx-border-image-width: 100%, 100%;*/
    /*-fx-background-position: left top, center;*/
    /*-fx-tile-alignment: center;*/
}

/* Icon types */
.icon-folder, .icon-bin, .icon-compressed, .icon-document,
.icon-presentation, .icon-spreadsheet, .icon-pdf, .icon-web,
.icon-file, .icon-video, .icon-music, .icon-text {
    -fx-min-width: 64px;
    -fx-min-height: 64px;
    -fx-width: 64px;
    -fx-height: 64px;
    -fx-max-width: 150px;
    -fx-max-height: 150px;
    -fx-background-color: rgba(68, 68, 68, .4);
    -fx-background-size: 64px 64px;
}

.icon:hover {
    -fx-background-color: rgba(68, 68, 68, 1);
}

.icon-folder { -fx-image: url("icons/dir.png"); }
.icon-bin { -fx-image: url("icons/bin.png"); }
.icon-compressed { -fx-image: url("icons/archive.png"); }
.icon-document { -fx-image: url("icons/doc.png"); }
.icon-presentation { -fx-image: url("icons/presentation.png"); }
.icon-spreadsheet { -fx-image: url("icons/spreadsheet.png"); }
.icon-pdf { -fx-image: url("icons/pdf.png"); }
.icon-web { -fx-image: url("icons/web.png"); }
.icon-file { -fx-image: url("system-items/systemFile.png"); }
.icon-video { -fx-image: url("icons/video.png"); }
.icon-music { -fx-image: url("icons/audio.png"); }
.icon-text { -fx-image: url("icons/text.png"); }
